@import url('https://fonts.googleapis.com/css?family=Comfortaa|Orbitron');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* APP CSS STARTS HERE */
header {
  position: fixed;
  width: 100%;
  height: 5em;
  top: 0;
  padding: 0;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  box-shadow: inset 0px 1px 5px 4px rgba(0,0,0,1);
  border-bottom: 1px black solid;
  z-index: 10;
}
body {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  max-width: 100%;
  max-height: 100%;
}
main {
  max-width: 100%;
  margin-top: 3em;
  height: 49em;
}
footer {
  display: block;
  position: relative;
  width: 100%;
  height: 5.1em;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  box-shadow: inset 0px 1px 5px 4px rgba(0,0,0,1);
  border-top: 1px black solid;
}
.flex-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-footer {
  display: flex;
  text-align: center;
}
.flex-head, .flex-foot {
  width: 33%;
  height: 4em;
  padding:0;
}
h1, h2, h3, p {
  font-family: 'Comfortaa', cursive;
  border: none;
}
h1 {
  font-size: 3em;
}
h2 {  font-size: 1.5em
}
h3 {
  font-size: 1em
}
p {
  font-size: .5em
}
li {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
  overflow: hidden;
  transform-origin: 0% 100%;
  border: .4px solid #12fff7;
}
form {
 margin-top: .3em;
}
input, #inputButton{
  font-family: 'Comfortaa', cursive;
  font-size: 2em;
  width: 100%;
  text-align: center;
  border-radius: .5em;
  padding: .4em 0 .4em 0;
}
button {
  font-family: 'Comfortaa', cursive;
  font-size: 3em;
  width: 90%;
  background: white;
  border: none;
  box-shadow: inset 0px 0px 4px 2px rgba(1,1,1,1);
  transition: transform .3s;
}
button:hover {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  color: ghostwhite;
  transform: scale(.9);

}
#inputButton {
  margin-top: .3em;
  width: 90%;
}
.head-left h1 {
  margin-top: .7em;
  font-family: 'Orbitron';
  font-size: 2em;
  text-align: center;
  color: ghostwhite;
}
.head-right {
  text-align: center;
}
.city {
  position:relative;
  display: block;
  max-width: 50%;
  margin: auto;
  margin-top: 7.9em;
  height: 5em;
}
.city div h2 {
  font-size: 3em;
  text-align: center;
}
.the-wheel {
  position: relative;
  width: 40em;
  height: 40em;
  border: 1px solid #FFDB00;
  border-radius: 50%;
  border-style: inset;
  list-style: none;
  overflow: hidden;
  box-shadow: inset 0px 1px 5px 4px rgba(0,0,0,1);
  transition:  transform 5s;
}
.the-wheel:hover {
  /* transform: scale(1.2); */
  /* z-index: 11; */
  /* transform: rotate(360deg); */
}
#outter-wheel {
  margin-top: -41em;
  width: 41.8em;
  height: 41.7em;
  box-shadow: inset 0px 1px 20px 4px rgba(0,0,0,1);
  z-index: -1;
}
.wheel-slice {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  font-size: 1.5em;
  text-align: center;
  color: ghostwhite;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  transform: skewY(60deg) rotate(15deg);
  padding-top: 20px;
}
li:first-child {
  transform: rotate(0deg) skewY(-60deg);
}
li:nth-child(2) {
  transform: rotate(30deg) skewY(-60deg);
}
li:nth-child(3) {
  transform: rotate(60deg) skewY(-60deg);
}
li:nth-child(4) {
  transform: rotate(90deg) skewY(-60deg);
}
li:nth-child(5) {
  transform: rotate(120deg) skewY(-60deg);
}
li:nth-child(6) {
  transform: rotate(150deg) skewY(-60deg);
}
li:nth-child(7) {
  transform: rotate(180deg) skewY(-60deg);
}
li:nth-child(8) {
  transform: rotate(210deg) skewY(-60deg);
}
li:nth-child(9) {
  transform: rotate(240deg) skewY(-60deg);
}
li:nth-child(10) {
  transform: rotate(270deg) skewY(-60deg);
}
li:nth-child(11) {
  transform: rotate(300deg) skewY(-60deg);
}
li:nth-child(12) {
  transform: rotate(330deg) skewY(-60deg);
}
.slice-select {
  box-shadow: inset 0px 5px 5px 4px rgba(255,255,255,255);
}
.spin-selector {
  background: #FFDB00 !important;
}
#back-text-1,#back-text-2,#back-text-3,
#back-text-4,#back-text-5,#back-text-6 {
  position: fixed;
  z-index: -2;
}
#back-text-1 {
  visibility: visible;
  top: 6em;
  left: 2.8em;
  transition-duration: 2s;
}
#back-text-2 {
  top: 6em;
  right: 3em;
}
#back-text-3 {
  bottom: 6em;
  right: 3em;
}
#back-text-4 {
  bottom: 6em;
  left: 2.8em;
}
#back-text-5 {
  top: 50%;
  left: 2.8em;
}
#back-text-6 {
  top: 10em;
  left: 1em;
}
.back-text {
  font-family: 'Orbitron';
  font-size: 2em;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
.wheel-slice p {
  font-weight: bold;
}
.wheel-image img {
  margin-top: 1em;
  border: 1px solid white;
}
.center-button {
  position: absolute;
  top: 18.8em;
  margin: 0 46.9%;
  width: 2.5em;
  height: 2.5em;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 0px 0px 4px 2px rgba(1,1,1,1);
  transition: transform 1s;
  z-index: 1;
}
.circle-button:hover {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
.fa, .far, .fas {
  margin-top: .2em;
  font-size: 1.7em;
  color:  #f9d423;
}
.fas:hover {
  color: ghostwhite;
  transform: scale(.9);
}
#modal, #modal-intro {
	display: none;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left 0;
	height: 100%;
	width: 100%;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	z-index: 12;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	overflow:auto;
  transition-duration: 2s
}
#modal-close, #modal-close-intro {
  width: 100%;
  font-family: 'Orbitron';
  text-align: center;
	padding: 14px 18px;
	border: none;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
  color: ghostwhite;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);

}
#modal-close:hover {
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  /* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
}
#fortune {
  margin: 2em auto;
  width: 50%;
  background: white;
  padding: 1em;
  border-radius: 2%;
  border: 1px solid white;
  font-size: 1.9em;
  line-height: 1.4em;
  color: black;
  text-align: center;
  border: 2px solid #fc00ff;
  box-shadow: inset 0px 0px 4px 2px #f83600;
}
#fortune p {
  line-height: 1em;
  font-size: .8em;
}
.listings, .intro-modal {
  width: 50%;
  margin: 3em auto;
  background-color: white;
  padding: 2em;
  border-radius: 1%;
  border: 5px solid #fc00ff;
}
.intro-modal {
  text-align: center;
  vertical-align: middle;
}
.intro-modal h2 {
  text-decoration: underline;
  padding-bottom: 1em;
}
.intro-modal h3 {
  padding: .5em;
}

.intro-modal p {
  font-size: 1em;
}

.res-head {
  display: flex;
  border-bottom: 1px solid black;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.res-collection {
  width: 100%;
  padding-bottom: 1em;
}
.res-collection h1 {
  padding-bottom: .5em;
}
.res-collection p {
  padding-top: .5em;
  font-size: 1.5em;
}
.res-name {
  font-size: 2em;
}
.res-ratings {
  font-size: 2em;
}
.res-body {
  display: flex;
  width: 100%;
  padding-top: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
}
.res-body h2 {
  padding-top: 2em;
}
.cuisines {
  font-size: 2em;
}
.average_cost {
  font-size: 2em;
}
.address {
  font-size: 2em;
}
.listings img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
/* .orb {
  position: absolute;
  top: 19.5em;
  margin: 0 48.6%;
  width: 1.1em;
  height: 1.1em;
  visibility: hidden;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
  transition: width 2s, height 2s, transform 2s;
  z-index: 4;
}
.hide {
  top: 10.5em;
  margin: 0 26.5%;
  visibility: visible;
  width: 600px;
  height: 600px;
} */
@media screen and (max-width: 1274px) {
  footer {
    height: 6.8em;
  }
}
@media screen and (max-width: 1024px) {
  main {
    height: 70.3em;
  }
  footer {
    height: 7.2em;
  }
  button {
    font-size: 3.1em
  }
  .the-wheel {
    width: 54.8em;
    height: 54.7em;
  }
  #outter-wheel {
    margin-top: -56.3em;
    width: 57.7em;
    height: 57.7em;
  }
  .circle-button {
    top: 24.7em;
    margin: 0 45.4%;
    width: 5em;
    height: 5em;
  }
  .fa, .far, .fas {
    margin-top: .3em;
    font-size: 3em;
  }
}
@media screen and (max-width: 768px) {
  main {
    height: 48.8em;
  }
  footer {
    height: 7.2em;
  }
  .city div h2 {
    font-size: 1.8em;
  }
  #back-text-1 {
    top: 5em;
    left: 6.7em;
  }
  #back-text-2 {
    top: 7em;
    right: 0em;
  }
  #back-text-4 {
    bottom: 5em;
    left: 0;
    font-size: 4.9em;
  }
  #back-text-5 {
    top: 10%;
    left: 34em;
    font-size: 1em;
  }
}
@media screen and (max-width: 720px) {
  main {
    height: 48.6em;
  }
  form {
   margin-top: .5em;
  }
  input {
    margin-top: .2em;
    padding-top: .7em;
    font-size: 1.2em;
  }
  .city {
    max-width: 100%;
  }
  .city div h2 {
    font-size: 2em;
  }
  .the-wheel {
    width: 30em;
    height: 30em;
  }
  .res-name {
    font-size: 1.5em;
  }
  #outter-wheel {
    margin-top: -31em;
    width: 31.8em;
    height: 31.7em;
  }
  footer {
    height: 5.5em;
  }

  #back-text-1 {
    top: 4.9em;
    left: 2.4em;
  }
  #back-text-2 {
    top: 17em;
    right: 0em;
  }
  #back-text-3 {
    bottom: 4em;
    left: 2.9em;
  }
  #back-text-4 {
    bottom: 3.2em;
    left: 0;
    font-size: 4em;
  }
  #back-text-5 {
    top: 50%;
    left: .5em;
  }
  button {
    font-size: 2em;
  }
  #inputButton {
    margin-top: .5em;
    font-size: 1.5em;
  }
  .wheel-slice p {
    font-size: .1em !important;
  }
  .wheel-image  img {
    width: 2.1em !important;
    height: 2.1em !important;
  }
  .circle-button {
    top: 11.5em;
    margin: 0 45.9%;
    width: 2em;
    height: 2em;
  }
  .fa, .far, .fas {
    margin-top: .3em;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 414px) {
  main {
    height: 39.4em;
  }
  .head-left h1 {
    margin-top: .8em;
    margin-left: .1em;
    font-size: 1.9em;
  }
  form {
   margin-top: .7em;
  }
  input {
    margin-top: .2em;
    padding-top: .7em;
    font-size: 1em;
  }
  .city {
    margin-left: 1.8em;
  }
  .the-wheel {
    width: 22.8em;
    height: 22.7em;
  }
  #outter-wheel {
    margin-top: -23.3em;
    width: 23.7em;
    height: 23.7em;
  }
  button {
    font-size: 1.6em;
  }
  #back-text-1 {
    top: 7.8em;
    left: 3.9em;
    font-size: 1.4em;
  }
  #back-text-2 {
    top: 21em;
    left: .6em;
  }
  #back-text-3 {
    bottom: 12em;
    left: 17em;
    font-size: 1.1em;
  }
  #back-text-4 {
    bottom: 4em;
    left: 0;
    font-size: 4.1em;
  }
  #back-text-5 {
    top: 4em;
    left: 9.5em;
    font-size: 1.3em;
  }
  #back-text-6 {
    font-size: 1.1em;
  }
  #inputButton {
    margin-top: .65em;
    font-size: 1.4em;
    padding-bottom: .3em;
  }
  .wheel-slice p {
    margin-top: -1.5em;
    font-size:
  }
  .wheel-image {
    margin-top: 0;
  }
  .wheel-image img {
    margin-top: .2em;
    margin-left: -.3em;
    width: 1.9em;
    height: 1.9em;
  }
  .circle-button {
    top: 10.3em;
    margin: 0 45.2%;
    width: 2em;
    height: 2em;
  }
  .fa, .far, .fas {
    margin-top: .3em;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 411px) {
  main {
    height: 32.2em;
  }
  #back-text-2 {
    top: 18.5em;
  }
  #back-text-6 {
    font-size: .9em;
  }
  #back-text-4 {
    bottom: 3em;
    font-size: 4.6em;
  }
}
@media screen and (max-width: 375px) {
  main {
    height: 42.3em;
  }
  input {
    margin-top: .3em;
    font-size: .9em;
    padding: .9em 0 .9em 0;
  }
  #inputButton {
    margin-top: 1em;
    font-size: 1em;
    width: 50%;
  }
  .the-wheel {
    width: 20.8em;
    height: 20.7em;
  }
  #outter-wheel {
    margin-top: -21.3em;
    width: 21.7em;
    height: 21.7em;
  }
  .circle-button {
    top: 9.3em;
    margin: 0 44.7%;
  }
  #back-text-1 {
    left: 3.1em;
  }
  #back-text-2 {
    top: 22em;
  }
  #back-text-3 {
    bottom: 7em;
    left: 14em;
  }
  #back-text-4 {
    bottom: 2.7em;
    font-size: 4.2em;
  }
}
@media only screen and (max-width: 360px) and (max-height: 740px)  {
  main {
    height: 32.8em;
  }
  button {
    font-size: 1.3em;
  }
  .circle-button {
    margin: 0 44.8%;
  }
  #back-text-2 {
    top: 35em;
    font-size: 1.1em;
  }
  #back-text-4 {
    font-size: 3.8em;
  }
}
@media only screen and (max-width: 360px) and (max-height: 640px) {
  main {
    height: 26.5em;
  }
  .the-wheel {
    width: 19.8em;
    height: 19.7em;
  }
  #outter-wheel {
    margin-top: -20.3em;
    width: 20.7em;
    height: 20.7em;
  }
  .circle-button {
    top: 8.9em;
    margin: 0 44.7%;
  }
  #back-text-2 {
    top: 28.5em;
    font-size: 1.1em;
  }
}
@media screen and (max-width: 320px) {
  main {
    height: 28.4em;
  }
  #back-text-4 {
    font-size: 3.5em;
  }
}
